.container {
  height: 100vh;
  position: relative;
  align-items: center;
  display: grid;
  color: #ccc;
}

.jarvisContainer {
  position: relative;
  background-color: #242526;
  padding: 30px;
  height: 85%;
  width: 70%;
  margin: 0 auto;
  border-radius: 10px;
  overflow-y: auto;
}
